<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="about.css">
    <title>About</title>
</head>
<body>
    <div class="box">
        <div class="letreiro">square-room.tech</div>

        <div class="info">
            <h2>Quem somos?</h2>
            <p>
            Olá, jovens! Somos um pequeno grupo de programadores inexperientes,
            vivendo e aprendendo no universo tecnológico. Com o código
            Squareroom.tech, nosso website é uma forma de evoluirmos e praticarmos.
            Não sabemos tudo — estudar é o caminho para o desenvolvimento deste projeto.
            </p>
            <p>
            Aqui é o universo onde você encontrará conteúdos sobre máquinas,
            linguagens de programação, hacking, protocolos de rede, entre outros.
            </p>
            <h2>Servidor online por quanto tempo?</h2>
            <p>
            Nosso servidor fica online apenas 2 horas por dia. Utilizamos
            roteadores dinâmicos com tecnologia NO-IP, o que limita o tempo
            de disponibilidade.
            </p>
            <h2>Meus dados estão seguros?</h2>
            <p>
            Após realizar o cadastro em nossa plataforma, suas informações estarão
            protegidas através de criptografia. Nenhum membro da Squareroom.tech
            terá acesso antiético aos seus dados.
            </p>
        </div>
    </div>
</body>
</html>