<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Home</title>
</head>
<body>
    <div class="container-initial">
        <div class="container-height">
            <div class="context-heigth-banner-alink">
                <header id="header-height-banner-img">
                    <div class="img-container-for-header">
                        <img src="/home.gif" alt="error-not-supported-img" id="img-banner">
                    </div>
                    <div class="context-link">
                        <div class="links"> 
                            <a href="https://127.0.0.1:3001/about" class="a-link-banner">sobre nós</a>
                            <a href="https://127.0.0.1:3001/post" class="a-link-banner">forum</a>
                            <a href="https://127.0.0.1:3001/login" class="a-link-banner">acessar conta</a>
                        </div>    
                    </div>
                </header>
            </div>
        </div>
        <div class="container-height-center">
            <div class="container-center">
                <section class="section-context">
                    <p id="paragraph-welcome">
                        Olá seja bem - vindo ao nosso servidor do grupo de programadores conhecidos como, Squareroom.tech é uma satisfação ter você em nossa página de desenvolvimento. 
                        Aproveite o máximo do conteúdo disponivél, que temos aqui. Nosso conteúdo é sobre máquinas, linguagem de programação, servidores. etc. 
                    </p>
                    <h3 id="h3-hardware-describe"> Você conhece componentes de computador? </h3>
                    <div class="img-hardware-describe">
                        <div class="img-centralized">
                            <img src="/hardware.jpeg" alt="error-not-opened-img" id="img-hardware">
                        </div>
                    </div>
                    <p id="strong-paragraph-describe">
                        <i> Computador Notebook POSITIVO </i><br><br>
                        <strong> O que é memoria RAM? </strong> Memória RAM (Random Access Memory) é a memória de trabalho volátil de um computador, celular ou tablet, utilizada para armazenar temporariamente dados de aplicativos e sistemas em execução, permitindo acesso rápido pelo processador. Ela não salva arquivos permanentemente e apaga tudo ao desligar o dispositivo.<br><br>
                        <strong> O que é HD? </strong> O HD (Hard Disk Drive) é o componente de armazenamento permanente (não volátil) de um computador, onde ficam salvos o sistema operacional, programas e arquivos pessoais, mesmo sem energia. Ele funciona mecanicamente, utilizando discos magnéticos giratórios e uma agulha para ler/gravar dados, sendo mais lento e barato que os SSDs.<br><br>
                        <strong> O que é Dissipador? </strong> Um dissipador de calor é um componente metálico (alumínio ou cobre) que absorve o calor excessivo gerado pelo processador (CPU) ou placa de vídeo (GPU) e o dispersa para o ambiente. Geralmente, possui aletas para aumentar a área de superfície, sendo parte fundamental do cooler ativo<br><br>
                        <strong> O que é Cooler? </strong> Cooler é um sistema de refrigeração para componentes eletrônicos (especialmente o processador/CPU) que combina um dissipador de metal e uma ventoinha (fan) para retirar o calor, evitando superaquecimento e danos ao hardware. Eles são essenciais para manter o desempenho e a vida útil do computador, sendo essenciais para o funcionamento correto de processadores.<br><br>
                        <strong> O que é Processador? </strong> O processador, ou CPU (Unidade Central de Processamento)é o "cérebro" do computador, smartphone ou outro dispositivo eletrônico. Ele interpreta, processa instruções e realiza cálculos lógicos e aritméticos, transformando dados em informações para executar programas, navegadores e jogos.<br><br>
                        <strong> O que são portas SATA? </strong> Portas SATA (Serial Advanced Technology Attachment) são interfaces na placa-mãe usadas para conectar dispositivos de armazenamento, como HDDs (discos rígidos), SSDs e unidades de CD/DVD. Elas substituíram o antigo padrão IDE/PATA, oferecendo velocidades mais rápidas (até 6 Gb/s no SATA III), cabos mais finos e eficientes<br><br>
                        <strong> O que é cabo Flat? </strong>O cabo flat (ou flat cable) é um tipo de conector eletrônico plano, fino e flexível, composto por vários condutores metálicos dispostos paralelamente, muito utilizado em eletrônicos como notebooks, impressoras e celulares. Sua principal função é transmitir sinais entre componentes internos, como telas, teclados e placas-mãe, ocupando mínimo espaço.<br><br>
                        <strong> O que é Sistema Operacional? </strong>Um sistema operacional (SO) é o software fundamental que gerencia o hardware (CPU, memória, armazenamento) e fornece uma interface entre o usuário e o computador. Ele carrega programas, organiza arquivos, controla periféricos e gerencia recursos, permitindo o funcionamento de aplicativos. Exemplos: Windows, Linux, macOS, Android e iOS.<br><br><br><br>                        
                    </p>
                </section>
            </div>
        </div>
        <div class="container-left-height-width">
            <div class="container-sidebar">
                <div class="container-side-flex"> 
                    <aside class="sidebar">
                        <h5> Sobre tools, scripting </h5>
                        <a href="https://127.0.0.1:3001/error" class="a-links-sidebar">Programando em python um servidor FTP com pyftpdlib para transfẽrencia de arquivos em binário.</a><br><br>
                        <a href="https://127.0.0.1:3001/error" class="a-links-sidebar">Construíndo um servidor backend com linguagem de programação C.</a><br><br>
                        <a href="https://127.0.0.1:3001/error" class="a-links-sidebar">Como construir um script para gerar hashes aleátorios em Javascript e um bruteforce com bcrypt.</a><br><br>

                        <h5> Protocolos de rede </h5>
                        <a href="https://127.0.0.1:3001/error" class="a-links-sidebar">O que é o protocolo Address Resolution Protocol, ARP. </a><br><br>
                        <a href="https://127.0.0.1:3001/error" class="a-links-sidebar">O que é o protocolo Domain Name System, DNS.</a><br><br>
                        <a href="https://127.0.0.1:3001/error" class="a-links-sidebar">O que é o protocolo HTTP e HTTPS, diferenças.</a><br><br>

                        <h5> Matemática || Criptografia </h5>
                        <a href="https://127.0.0.1:3001/error" class="a-links-sidebar">Algoritmo de criptografia Vigenèri.</a><br><br>
                        <a href="https://127.0.0.1:3001/error" class="a-links-sidebar">Algoritmo de cifra de Cesar.</a><br><br>
                    </aside>
                </div>               
            </div>
         </div>
    </div>
    <div class="container-footer" title="squareroom_tech">
        <footer id="footer">
            <div class="container-address">
                <address id="address">
                    Nossa página foi construída com o objetivo de fornecer conhecimento em tecnologia, máquinas, hacking e programação. Nosso servidor está hospedado nos servidores da Squareroom.tech 
                </address>
            </div>
        </footer>
    </div>
</body>
</html>