<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="registered.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container-initial-dad">
        <div class="container-top">
            <div class="container-in-header">
                <header class="header">
                    <img src="/header-in-image-background.png" alt="banner-squareroom.tech" id="header-img" title="squareroom.tech">
                </header>
                <div class="container-header-links">
                    <div class="context-in-header-links">
                        <a href="https://127.0.0.1:3001/login" title="acessar conta" class="alinks-header">Já tenho conta</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-form">
            <div class="context-form">
                <section class="container-section-in-form">
                    <h2 id="h2-create-account" title="create new account">Criar um conta</h2>
                    <form action="/registered/register" method="post" id="form-register">
                        <label for="username" title="">Nome de Usuário: </label>
                        <input type="text" id="username" name="username" placeholder="username" title="usuario" required>
                        <label for="email" title="">E-mail: </label>
                        <input type="email" id="email" name="email" placeholder="email" title="email" required>
                        <label for="password" title="">Senha: </label>
                        <input type="password" id="password" name="password" placeholder="password" minlength="8" title="senha" required>
                        <label for="confirm_password" title="">Confirma Senha: </label>
                        <input type="password" id="confirm_password" name="confirm_password" placeholder="password" minlength="8" title="senha" required>
                        <div class="container-btn-register">
                            <div class="context-btn">
                                <button type="submit" id="btn-register" title="finalizar">finalizar</button>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
        <div class="container-footer" title="squareroom.tech">
            <footer class="footer">
                <address id="address">
                    Nossa página foi construída com o objetivo de fornecer conhecimento em tecnologia, máquinas, hacking e programação. Nosso servidor está hospedado nos servidores da Squareroom.tech 
                </address>
            </footer>
        </div>
    </div>
    <script>
        document.getElementById("form-register").addEventListener("submit", function(e)
        {
            let btn = document.getElementById("btn-register");

            btn.innerText = "Carregando...";
            btn.disabled = true;

            let password = document.getElementById("password").value;
            let confirm_password = document.getElementById("confirm_password").value;
            if (password.length < 8) {
                alert("senha mínimo 8 digitos");
                btn.disabled = false;
                btn.innerText = "finalizar";
                e.preventDefault();
                return;
            } 
            if (password !== confirm_password) {
                alert(" senhas devem ser iguais");
                e.preventDefault();
            }
        });
    </script>
</body>
</html>