<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sendTo.css">
    <title>Enviar POST</title>
</head>
<body>
    <div class="container-initial">
        <div class="container-forum">
            <h1> Enviar um POST | Squareroom.ddns.net </h1>
            <hr>
            <div class="forum">
                <form action="/post" method="post">
                    <div class="form"> 
                        <label for="username">Digite seu nome: </label>
                        <input type="text" name="username" id="ipt-username" required>
                    </div>
                    <div class="container-textarea">
                        <textarea name="post" id="cto" required></textarea>
                    </div>
                    <div class="container-btn">
                        <button type="submit" id="btn"> enviar </button>
                        <a href="https://127.0.0.1:3001/">voltar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>